<div fxLayout fxLayoutAlign="space-between center">
    <!-- Search Filter -->
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

  </div>
  <div class="mat-elevation-z3">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- mobile Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
        <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
      </ng-container>
  
   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
  <div class="example-element-detail"  fxLayout fxLayoutAlign="center"
       [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
       <div fxLayout>
        <div class="counter-address mat-elevation-z3">
          <h3>Address</h3>
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon matListIcon>star</mat-icon>
                <h5> Title : {{row.title}} </h5>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListIcon>format_align_left
                </mat-icon>
                <h5> Body : {{row.body}} </h5>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
  </div>
  </div>
</td>
</ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


  
  