mat-toolbar{
    background-color: teal;
}
.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    width:200px;
    background-color:#FFFFFF;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
  }
  .sidenav-content{
    left: 2rem;
  }
  ::-webkit-scrollbar { width: 0 !important }

